#hero {
  width: 100%;
  position: relative;

  padding: 4.5rem 2rem 3rem 2rem;
  font-size: clamp(3rem, 15vw, 7rem);
  font-weight: 600;
  color: hsl(var(--on-background-dark));
}

/* Bottom Border */
#hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: hsl(var(--on-background));
  left: 50%;
  height: 1px;
  width: calc(100% - 1.5rem);
  transform: translateX(-50%);
}

.backdrop {
  max-width: 100vw;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-45%);
  z-index: -1;
  overflow-x: hidden;
}

.content {
  max-height: max-content;
}

.word {
  padding-left: var(--padd, 0ch);
}

@media (min-width: 568px) {
  #hero {
    padding-inline: 3rem;
    font-size: clamp(4rem, 12.5vw, 10rem);
  }

  .word {
    padding-left: calc(var(--padd, 0ch) * 2);
  }
}
