:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --reasonable-max-app-width: 75rem;

  --background: hsl(223, 41%, 94%);
  --on-background: hsl(230, 3%, 35%);
  --on-background-dark: hsl(223, 26%, 13%);

  --primary: hsl(202, 100%, 53%);
  --secondary: hsl(43, 100%, 66%);
  --secondary-accent: hsl(32, 100%, 64%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: var(--font-family);

  /* TODO: Temporary */
  background-color: var(--background);
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
}

.constraint-wrapper {
  max-width: var(--reasonable-max-app-width);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
