.contact {
  background-color: hsl(var(--contact-bkg));
  /* To give full width */
  box-shadow: 0 0 0 100vmax hsl(var(--contact-bkg));
  clip-path: inset(0 -100vmax); /* top/bottom left/right */

  flex-direction: column;
  padding: 4.5rem 1.5rem 7.5rem 1.5rem;
}

.contact h1 {
  color: black !important;
}

.contact p {
  width: min(45rem, 100%);
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

/* Container w/ links & form */
.action {
  flex-direction: column;
  justify-content: flex-end;
}

/* Link styling */
.socialLinks {
  --gap: 2rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  padding-block-start: 1rem;
  margin: 0;
}

.socialLinks li {
  width: 2.5rem;
  height: 2.5rem;
}

.socialLinks svg {
  fill: hsl(var(--off-grey)) !important;
}

/* Form styling */
.form {
  --gap: 0.5rem;
  width: min(45rem, 100%);
  flex-direction: column;
}

.form input,
.form textarea {
  padding: 0.5rem 0.75rem;
  font-size: 1.15rem;
  resize: none;
  background-color: transparent;
  border: 1px solid hsl(var(--off-grey) / 0.5);
  outline: 0;
  transition: all 250ms ease-in-out;
}

.form textarea,
.form textarea::placeholder {
  font-family: var(--font-family);
}

.form input::placeholder,
.form textarea::placeholder {
  text-transform: capitalize;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  border-color: hsl(var(--off-grey));
  padding-inline: 1rem;
  background-color: hsl(var(--off-grey) / 0.05);
}

/* Submit Button Styling */
.submitBtn {
  cursor: pointer;
  width: max-content;
  align-items: center;

  padding: 0.35rem 0.65rem;
  font-size: 1.25rem;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.sendIcon {
  width: 2rem;
  height: 2rem;
}

.sendIcon svg {
  fill: hsl(var(--off-grey)) !important;
}

/* Alerts Container Styling */
.alert {
  --gap: 0rem;
  visibility: hidden;
  width: 70vw;
  justify-content: space-between;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
  z-index: 999;

  opacity: 0;
  padding: 0.5rem 1rem;
  outline: 1px solid hsl(var(--off-grey) / 0.5);
  background-color: hsl(var(--off-white) / 1);
}

.alert.show {
  visibility: visible;
  opacity: 1;
}

.closeBtn {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.success {
  border-left: 0.75rem solid hsl(var(--success));
}

.error {
  border-left: 0.75rem solid hsl(var(--error));
}

@media (min-width: 568px) {
  .action {
    flex-direction: row;
  }

  .socialLinks {
    --gap: 0.75rem;
    flex-direction: column;
    justify-content: flex-start;
  }
}
