.projects {
  --gap: 2rem;
  flex-direction: column;
  padding: 4.5rem 2.5rem 7.5rem 2.5rem;

  transform-origin: top center;
  transition: background-color var(--transition-speed) ease-in-out,
    transform calc(var(--transition-speed) / 2) ease-in-out;
}

.projects.seen {
  background-color: hsl(var(--project-bkg));
  transform: scale(0.9975);
}

@media (min-width: 568px) {
  .projects {
    --gap: 3rem;
  }
}
